
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR <a href="https://anunziointernational.com/software/all-web-applications-by-anunzio.html" target="_blank">Anzul Aqeel</a>
PROJECT : DEV Coming-Soon Page
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.themecolor
{
    color:#3e5f06;/*Defines the theme <a href="https://anunziointernational.com/software/all-web-applications-by-anunzio.html" target="_blank">Anzul Aqeel</a>
}

.theme_background_color,#downloadbt:hover
{
    background-color:#3e5f06; /*Defines the theme <a href="https://anunziointernational.com/software/all-web-applications-by-anunzio.html" target="_blank">Anzul Aqeel</a>
}

.borderColor
{
    border-color:#000;/*Defines the color of the border*/
}
.social a,.social-big a
{
    color:#3e5f06;
}
.footer
{
    border-top-color:#3e5f06;
}
.black
{
    color:#000;
}

.white
{
    color:#fff;
}
.black-background
{
    background-color:#000;
}

.white-background
{
    background-color:#fff;
}

/* Developed by Anunzio International */
.grey
{
    color:#676565;
}
.grey_background_color
{
    background-color:#676565;
}

.sectionTitle hr
{
  border-color:#3e5f06; 
}

.sectionTitle .line{
    border-color:#fff;
}

.sectionTitle .line hr
{
    border-color:#dbdbdb;
}

ol.type li a:hover{ color:#3e5f06;}

.ramsh-menu.navbar-default .navbar-nav > li > a:hover,a.fa.fa-angle-down:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus
{
    color:#3e5f06;
}

.navbar-toggle
{
 
 color:#3e5f06;
}

.owl-theme <a href="https://anunziointernational.com/software/all-web-applications-by-anunzio.html" target="_blank">Anzul Aqeel</a>
.owl-theme <a href="https://anunziointernational.com/software/all-web-applications-by-anunzio.html" target="_blank">Anzul Aqeel</a>
	
	background:#3e5f06;
}
.owl-theme <a href="https://anunziointernational.com/software/all-web-applications-by-anunzio.html" target="_blank">Anzul Aqeel</a>
	background:#3e5f06;
}

.btn-style:hover
{
    background:#3e5f06;
    color:#fff;
/* Developed by Anunzio International */
}

.footer .footer-social-icons li a:hover 
{
    color:#3e5f06;
}